/* Global */
@import './global/global.css';
@import './global/header.css';
@import './global/footer.css';
@import './utilidades/tipografia.css';
@import './utilidades/cores.css';

/* Utilidades */
@import './utilidades/componentes.css';
@import './utilidades/animacao.css';

/* Portfolio */
@import './portfolio/home.css';
@import './portfolio/sobre.css';
@import './portfolio/formacao.css';
@import './portfolio/experiencia.css';
@import './portfolio/portfolio.css';
@import './portfolio/contato.css';