.sobre-experiencia {
  display: grid;
  grid-template-columns: 1fr 600px;
  gap: 120px;
}

.sobre-experiencia h2 {
  grid-row: 1;
  max-width: 6ch;
  word-break: break-all;
  align-self: center;
  cursor: default;
}

.experiencias-container {
  display: grid;
  gap: 40px;
}

.experiencia-conteudo {
  background: var(--cor-c11);
  padding: 20px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: minmax(280px, 0) auto;
  gap: 20px;
  position: relative;
  transition: .3s;
}

.experiencia-conteudo:before {
  content: '';
  width: 16px;
  height: 4px;
  background: linear-gradient(90deg, #5B23E0 0%, #9560FF 100%);
  position: absolute;
  top: -4px;
  left: 20px;
  transition: .3s;
}

.experiencia-conteudo:hover {
  transform: scale(1.08);
}

.experiencia-conteudo:hover:before {
  width: 24px;
}

.experiencia-conteudo h3 {
  margin-bottom: 8px;
}

.habilidades-cargo {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.habilidades-cargo .habilidade-cargo {
  padding: 6px 12px;
  background: var(--cor-c10);
  border-radius: 4px;
  transition: 0.3s;
}

.habilidades-cargo .habilidade-cargo:hover {
  background: var(--cor-c9);
  color: var(--cor-c5);
  cursor: default;
}

@media (max-width: 1200px) {
  .sobre-experiencia {
    grid-template-columns: 1fr;
  }

  .sobre-experiencia h2 {
    max-width: 100%;
    justify-self: center;
  }

  .experiencias-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .sobre-experiencia {
    gap: 60px;
  }

  .sobre-experiencia h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .experiencia-conteudo {
    grid-template-columns: 1fr;
  }
} 

@media (max-width: 600px) {
  .sobre-experiencia {
    gap: 40px;
  }

  .sobre-experiencia h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .experiencias-container {
    grid-template-columns: 1fr;
  }
}