.footer-bg {
  background-color: var(--cor-c12);
  border-top: 1px solid var(--cor-p1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.msumi-footer {
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 12px;
  }
}